*.swo
*.swp
node_modules
npm-debug.log
.idea
tests/reports
tests/coverage
build/size.csv
composer.lock
.vs
.vscode
dist/bootbox.zip
*.tgz
package-lock.json
/karma_html
Folder.DotSettings.user
*.code-workspace
package-lock.json
package-lock.json
